<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% @taxonomies.each do |taxonomy| %>
          <li>
            <%= link_to "javascript:;", :data => { :toggle => "collapse", :target => "#taxonomy-#{taxonomy.id}" } do %>
              <i class="fa fa-plus"></i> <%= taxonomy.name %>
            <% end %>
            <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.taxons.each do |taxon| %>
                <li>
                  <%= link_to potepan_category_path(taxon.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i> <%= taxon.name %> <span>(<%= taxon.products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>