<% provide(:title, @taxon.name) %>
<%= render 'light_section', name: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_category_section' %>
        <%= render 'find_color_section' %>
        <%= render 'find_size_section' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'sort_section' %>
          <%= render 'grid_section' %>
        </div>
        <div class="row">
          <%= render partial: 'products_section', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'bottom_light_section' %>