<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'light_section', product: @product %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_contents', product: @product %>
      <%= render "related_products_section", related_products: @related_products %>
    </div>
  </section>
</div>
